*
!*/

# git
!.gitignore
!.gitattributes

# text
!*.md
!*.json
!*.meta
!*.mat
!*.preset
!*.unity
!*.cs
!*.asset
!*.txt
!*.ad
!*.shadergraph
!*.prefab
!*.lighting
!LICENSE

# blobs
!*.png
!*.gif

# models
!*.blend
!*.fbx
!*.c4d
!*.spp
!*.jpg
!*.tif
!*.mtl
!*.obj
!*.exr

# unity stuff
Library/

# SteamVR
!Assets/SteamVR/**/*
!Assets/SteamVR_Input/**/*
!Assets/SteamVR_Resources/**/*
