*
!*/

# git
!.gitignore
!.gitattributes

# text
!*.md
!*.json
!*.meta
!*.mat
!*.preset
!*.unity
!*.cs
!*.asset
!*.txt
!*.ad
!*.shadergraph
!*.prefab

# blobs
!*.png
!*.gif

# models
!*.blend
!*.fbx

# unity stuff
Library/

# SteamVR
!Assets/SteamVR/**/*
!Assets/SteamVR_Input/**/*
!Assets/SteamVR_Resources/**/*
